*{
    
}
body{
    margin: 0;
    padding: 0;
}
.header{
    background: url(img/img1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 2px#98FB98 solid  ;
    color: #FDF5E6;
    position: absolute;
    bottom: 40%;
    transition: all 0.5s ease;
}
.header a:hover{
    color: greenyellow;
    background-color: honeydew;
}
.titre-group-players{
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
.group-players{
    display: flex;
    justify-content: space-around;
}
.categorie{
    display: block;
    
}
.titre-categorie{
    text-align: center;
    border: 2px black solid;
    color: #800000;
    border-radius: 10px;
    transition: all 1s ease;
    cursor: pointer;

}
.titre-categorie:hover{
    background-color: coral;
}
.img-players{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: all 1s ease;
}
.titre-players{
    text-align: center;
    font-size: 15px;
    font-family: 'RocknRoll One', sans-serif;
}
.img-players:hover{
    transform: scale(1.2);
    filter: grayscale(80);
}
.content{
    display: flex ;
    justify-content: space-between;
}
.coach{
    margin-left: 20px;
}
.coach h3{
    text-align: center;
    border: 2px black solid;
    color: #800000;
    border-radius: 10px;
    transition: all 1s ease;
    cursor: pointer;
}
.coach h3:hover{
    background-color: coral;
}
.coach p{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}

.footer{
    display: flex;
    justify-content: space-around;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.links ul{
    margin-top: 50px;
}

.links ul a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: all 0.5s ease;
}
.links ul a:hover{
    color: cornsilk;
}
.links ul li{
    margin-bottom: 20px;
}
.logo{
    display: block;
    flex-direction: column;
    
}
.logo img{
    width: 140px;
    height: 130px;
    margin-top: 30px;
    margin-left: 25px;
    
    
}
.logo p{
    font-family: 'Source Code Pro', monospace;
}
.links-reso ul li{
    list-style: none;

}
.links-reso ul li img{
    width: 30px;
    height: 30px;
}
.links-reso ul{
    margin-top: 30PX;
}
.links ul{
   text-align: left;
}
.photo{
    margin-bottom: 100px;
  }
.photo img{
    border-radius: 20px;
    margin-right: 10px;
}







