body{
    margin: 0;
    padding: 0;
}
.header{
    background: url(img/cover2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex ;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header a{
    margin-right: 20px;
    text-decoration: none;
    border: 2px #FFFAF0 solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    color: #708090;
    font-family: 'Alfa Slab One', cursive;
    transition: all 1s ease;
}
.header a:hover{
    background-color: #00FF7F;

}
.header p{
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
    border: 1px #FFFAF0 solid;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    background: 
}
.title-group-titres h1{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    
}
.group-titres{
    display: flex;
    justify-content: space-between;
    
}
.col1{
    display: block;
    margin-left: 10px;
    border: 2px wheat solid;
    padding: 10px;
    background: linear-gradient(50deg,#FF0000,#FA8072);
    box-shadow: 5px 10px 8px 10px #888888;
}
.titre{
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    border: 2px #FF6347 solid;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.titre:hover{
   background-color: #F0E68C;
   color: whitesmoke;
}
.nb-titre{
    text-align: center;
    font-size: 30px;
}
.anne-titre{
    text-align: center;
    font-size: 20px;
}
#titre{
    margin-top: 90px;
}
#titre1{
    margin-top: 135px;
}
#titre2{
   margin-top: 135px;
}
.group-photo{
    display: flex;
    justify-content: space-around;
    margin-left:  50px;
    margin-top: 30px;


}
.col{
    display:block;
}
.col img{
    width:250px ;
    height: 150px;
    border-radius: 20px;
     margin-top: 15px;
     transition: all 0.5s ease;

}
.col img:hover{
    transform: scale(1.2);
    filter: grayscale(80);
}
.footer{
    display: flex;
    justify-content: space-around;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.links ul{
    margin-top: 50px;
}

.links ul a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Fredoka One', cursive;
    transition: all 0.5s ease;
}
.links ul a:hover{
    color: cornsilk;
}
.links ul li{
    margin-bottom: 20px;
}
.logo{
    display: block;
    flex-direction: column;
    
}
.logo img{
    width: 140px;
    height: 130px;
    margin-top: 30px;
    margin-left: 25px;
    
    
}
.logo p{
    font-family: 'Source Code Pro', monospace;
}
.links-reso ul li{
    list-style: none;

}
.links-reso ul li img{
    width: 30px;
    height: 30px;
}
.links-reso ul{
    margin-top: 30PX;
}
.links ul{
   text-align: left;
}
.photo{
    margin-bottom: 100px;
  }
.photo img{
    border-radius: 20px;
    margin-right: 10px;
}